body{
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}
/*typo*/
html {font-size: 100%;} /*16px*/

body {
  background: whitesmoke;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {font-size: 3.998rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small, .text_small {font-size: 0.707rem;}
/*typo end*/

/*  */
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.btn{
	color: black;
	background-color: whitesmoke;
	padding: 1em 2em;
	font-weight: 600;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-decoration: none;
	transition: .5s;
}

.btn:hover{
	background-color: black;
	color: whitesmoke;

}

.hero{
    background-image: url("https://img.freepik.com/free-photo/young-beautiful-dancer-black-dress-posing-dark-gray-studio-background-modern-contemporary-improvisation_639032-1045.jpg?w=1800&t=st=1697786471~exp=1697787071~hmac=af778ac4e460dc16290ee056ede405346ba581ec9b22f2f2318365fe2d8262c0");
    height: 1200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

header nav ul{
	display: flex;
	list-style-type: none;
}

header nav ul li{
	margin: 0 1em;
}

header nav ul li a{
	text-decoration: none;
}

.hero-slogan{
	text-transform: uppercase;
	color: white;
	position: absolute;
	top: 20em;
	left: 4em;
}

.intro h2{
	font-weight: 800;
}

.intro, .intros, .d-flex{
	display: flex;
}

.intro{
	justify-content: space-between;
}

.intros{
	width: 100%;
	justify-content: space-between;
}

.intros div{
	max-width: 300px;
	margin: 1em;
}
.intro h3{
	font-weight: 800;
}

.hero-slogan h1 span{
	margin-left: 1em;
}

.line{
	display: block;
	background: black;
	width: 30px;
	height: 3px;
	margin: 0;
}

.shwocase-intro{
	margin: 4em auto;

}

.shwocase-intro h2{
	margin-top: 0;
}
.shwocase-intro h6{
	text-transform: uppercase;
	font-weight: 800;
	margin: 0;
}
.shwocase-intro h5{
	margin: 0;
}

.details{
	justify-content: space-between;
}

.shwocase-intro div:last-child{
	margin: 0;
	text-transform: capitalize;
	font-weight: 800;
}

#details-info h6{
	text-transform: uppercase;
	letter-spacing: .5em;
	margin: 0;
}

#details-info h3{
	margin: 0;
	font-weight: 800;
	font-size: 2em;
	width: 40vw;
}

section{
	padding: 0 2em;
}

.detail h4{
	margin-top: 0;
}

.events{
    margin-left:3em;
    width: 100%;
    justify-content: space-evenly;
}
.events h4{
    margin-top: 0;
}
.events div{
    max-width: 6em;
}
.events h4{
    margin-top: 0;
}
.events-body article:last-child{
    padding: 0 4em;
}
#fw-6{
    font-weight: 600;
}

.big-btn{
	background-color: white;
	font-weight: 600;
	padding: 4em 1em 1em;
	justify-content: space-between;
	max-width: 350px;
	height: 150px;
	align-items: end;
	text-decoration: none;
	color: black;
	margin: 1em 4em;
}

.big-btn  img{
	height: 4em;
}

.big-btn p{
	font-size: 20px;
}

.big-btns{
	justify-content: flex-end;
	text-decoration: none;
}

.big-btns a{
	color: black;
	text-decoration: none;
}